<footer class="container">

    <div class="app">
        <a href='https://itunes.apple.com/fr/app/la-cuill%C3%A8re-dor%C3%A9e/id1257591030?mt=8'><img src="{{ asset('img/css/ios.jpg') }}" alt="logo"></a>
    </div>

    <p>© La Cuillère - Tous droits réservés</p>




</footer>